@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
    background-color: #F28482;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    width: 90%;
    background-color: #F7EDE2;
    border-radius: 20px;
    margin-block: 20px;
    padding-top: 8px;
}

#logo{
    margin-top: 8px;
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav ul li {
    list-style: none;
    font-size: larger;
    font-weight: 600;
    color: #F28482;
}
nav ul li:hover{
    color: #F6BD60;
    cursor: pointer;
}
nav ul li a{
  text-decoration: none;
  color: #F28482;
}

nav ul li a:hover{
    color: #F6BD60;
}


body {
    margin: 0;
    background-color: #F28482;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#home{
    list-style: none;
    font-size: larger;
    font-weight: 600;
    color: #F28482;
}

.child{
    background-color:#F7EDE2;
}

#searchbtn {
    background-color: transparent;
    color: #F28482;
}
.search-container {
    background-color: #F5CAC3;
    float: left;
    border-radius: 50px;
}

#search{
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    background: transparent;
    outline: none;
}

#search::placeholder{
    color: black;
}

.account-options {
    float: right;
}

.account-options a {
    padding: 14px 20px;
    background-color: #F28482;
    margin-right: 10px;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.account-options a:hover{
    background-color: #F6BD60;
}

.search-container button {
    float: right;
    margin-top: 5px;
    margin-right: 4px;
    background: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.container {
    background-color: #F7EDE2;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}


button[type="submit"] {
    background-color: #F28482;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #F28482;
}

.c1{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.login , .register {
    display: flex;
    flex-direction: column;
    background-color: #F5CAC3;
    padding: 5px;
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.input , #user{
    width: 350px;
    height: 25px;
    padding: 6px;
    background-color: #f28482c7;
    color: white;
    border: none;
    border-radius: 12.5px;
}

.input::placeholder , #user::placeholder{
    color: black;
}

#login_submit , #register_submit {
    border-radius: 25px;
    transform: 1ms ease-in ;
}

#login_submit:hover , #register_submit:hover{
    background-color: #F6BD60
}

.container h1,h2{
    color: #f3615f;
}

